.page404 {
    margin-top: 240px;
    margin-bottom: 240px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.625;

    a {
        font-weight: bold;
        color :greenyellow
    }
}